[Desktop Entry]
Name=Horizon AD Tool
GenericName=AD Tool
X-GNOME-FullName=Horizon AD Tool
Comment=Unlock and add users to Active Directory
Exec=HADT
Icon=/usr/share/pixmaps/Horizon.png
Terminal=false
Type=Application
Keywords=Horizon;horizon;hcs;ad;AD;tool;netowrk;networking;
StartupNotify=true
Categories=GTK;;Security;X-GNOME-Settings-Panel;X-GNOME-SystemSettings;X-Unity-Settings-Panel;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;Utility;Networking;
X-Developer=Brad Heffernan