# scrap
/.vscode
/__pycache__
/App
/Settings/Settings-debug.ini
/Settings/Settings.ini
/Settings/Config.ini
/scrap
/Upload
/Tmp
/Old_settings
/usr/lib/Arxis_AD_Tool/compile.py
/usr/lib/Arxis_AD_Tool/updateSettings.py
/usr/*/*/*.spec
/usr/*/*.spec
/usr/*.spec
*.exe
*.gif